<!-- action is where it form goes to -->
<!-- <form method="POST" action="/profile" enctype="multipart/form-data"> -->
    <!-- <form method="POST" action="/delete/<%= data.Email %>">
        <label>What's your name</label>
        <input type="text" name="Usernamee" value="<%= data.Firstname %>">
        <label>What's your age</label>
        <input type="number" name="Age" value="<%= data.Age %>">
        <label>On which console do you play</label>
    <select type="text" name="console" value="">
        <option value="<%= data.console %>" name="Playstation">Playstation</option>
        <option value="Xbox" name="Xbox">Xbox</option>
        <option value="PC" name="PC">PC</option>
        <option value="Nintendo" name="Nintendo">Nintendo</option>
      </select>  
        <label>What's your email</label>
        <input type="email" name="Email" value="<%= data.Email %>"> -->
        <!-- <label>Your Profile pic</label>
        <input type="file" name="profilePic" accept="image/*" value=""> -->
        <!-- <button type="submit">Delete</button>
    </form> -->
    <!-- <form method="POST" action="/delete/<%= //data.Email %>"> -->
        <form method="POST" action="/delete/:email">
        <input type="hidden" name="Email" value="<%= data.Email %>">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="submit" value="verwijder die shit">
    </form>