<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section>
            <article class="submittedData">
                <p>Nice to meet you <i><%= data.Firstname %></i>, Welcome to game matcher</p>
                <p>We see that you are <i><%= data.Age %></i> years old, that's a nice age</p>
                <p>We also see that you are a true gamer playing your favourite videogame <i><%= data.FavGame %></i> on <i><%= data.console %></i></p>
                <p>Please check if the information you provided us is correct</p>
                <p>When clicking on confirm we'll sent you a confirmation Email and welcome you to the gaming family</p>
            <button><a href="/allUsers">Confirm</a></button>
            <button><a href="/edit/<%= data.Email %>">Edit my data</a></button>
            </article>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>