<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1>Submitted form page</h1>
        <section>
            <h2>You submitted the following Data:</h2>
            <ul>
                <li><b>Name:</b> <%= data.Firstname %></li>
                <li><b>Age</b>: <%= data.Age %></li>
                <li><b>Email:</b> <%= data.Email %></li>
                <li><b>My console:</b> <%= data.console %></li>
            </ul>
            <button><a href="/allUsers">Confirm</a></button>
            <button><a href="/edit/<%= data.Email %>">Edit my data</a></button>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>