<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="allUsers">
        <section>
           <% for(let i =0; i< data.length; i++) {
            if(data[i].Like == "False"){
            %>
            <article class="userCards">
            <h2>Like</h2>
            <div class="data">
            <p class="name age"><%= data[i].Firstname %>, <%= data[i].Age %></p>
            <p class="console"><%= data[i].console %> </p>
            <p class="favGame"><%= data[i].FavGame %></p>
            <form class="LikeMe" method="POST" action="/like">
                <input type="hidden" name="ID" value="<%= data[i]._id %>">
                <input type="submit" value="">
            </form>
        </div>  
            </article>
              <% }
             } %>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>