<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1>Displaying all users here  </h1>
        <section>
           <% for(let i =0; i< data.length; i++) {
            if(data[i].Like == "False"){
            %>
            <article class="userCards">
            <p class="name"><b>Name: </b> <%= data[i].Firstname %> </p>
            <p class="age"><b>Age: </b> <%= data[i].Age %> </p>
            <p class="console"><b>Console: </b> <%= data[i].console %> </p>
            <p class="email"><b>Email: </b> <%= data[i].Email %> </p>
            <p class="Like"><b>Like: </b> <%= data[i].Like %> </p>
            <p class="Dislike"><b>Dislike: </b> <%= data[i].Dislike %> </p>
            <button><a href="/edit/<%= data[i].Email %>">Edit my data</a></button>
            <form class="LikeMe" method="POST" action="/like">
                <input type="hidden" name="ID" value="<%= data[i]._id %>">
                <input type="submit" value="Like">

            </form>
            <form method="POST" action="/delete">
                <input type="hidden" name="ID" value="<%= data[i]._id %>">
                <input type="submit" value="verwijder die shit">
            </form>
            
            </article>
            <% } 
            }%>
                </article>
               
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>