<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1>Displaying all users here  </h1>
        <section>
                <article class="userCard">
                  <p class="userName">name: <span><%= data.Firstname %></span> </p>
                  <p class="userAge">age: <span><%= data.age %></span> </p>
                  <p class="userGender"><%= data.Email %></p>
           <p>data map: <%= //data.map(x => x); %> </p>
           <% for(var i =0; i< data.length; i++) {%>
            <article>
            <p> <%= data[i].Firstname %> </p>
            <p> <%= data[i].Age %> </p>
            <p> <%= data[i].console %> </p>
            <p> <%= data[i].Email %> </p>
            <button><a href="/edit/<%= data[i].Email %>">Edit my data</a></button>
            <button><a href="/edit/<%= //data[i]._id %>">Edit ID my data</a></button>
            <%- //include('../partials/deleteForm'); %>
            <!-- <form method="POST" action="/delete/<%= //data[i].Email %>">
                <input type="hidden" name="Email" value="<%= //data.Email %>">
                <input type="submit" value="verwijder die shit">
            </form> -->
            <form method="POST" action="/delete/<%= data[i]._id %>">
                <input type="hidden" name="Email" value="<%= data._id %>">
                <input type="submit" value="verwijder die shit">
            </form>
            </article>
            <% } %>
                </article>
               
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>