<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="matches">
        <h1>All my matches page</h1>
        <section>
            <% for(let i =0; i< data.length; i++) { 
                if(data[i].Like == "True"){
                %>
             <article class="userCards">
                 <div class="data">
             <p class="name"><%= data[i].Firstname %> </p>
             <p class="console"><%= data[i].console %> </p>
             <p class="favGame"><%= data[i].FavGame %> </p>

             <form class="LikeMe dislikeMe" method="POST" action="/Dislike">
                 <input type="hidden" name="ID" value="<%= data[i]._id %>">
                 <input type="submit" value="">
                 </form>
                 </div>
             </article>
             <% } 
            } %>
                 </article>
                
         </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>